.MenuViewItems {
    position: relative;
    margin: auto;
    margin-top: 3em;
    width: 50%;
    min-width: 25em;
    margin-bottom: 10em;

    &__showing-items {
        color: grey;
    }

    header {
        color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
