.MenuViewHeader {
    // position
    position: relative;

    // box model
    padding: 1em 10em;
    border-bottom: 1px solid rgb(148, 148, 148);
    box-shadow: 1px 1px 2px rgb(109, 109, 109);

    // text
    line-height: 1.4em;

    &__img-placeholder {
        position: absolute;
        right: 10em;
        height: 2em;
        width: 2em;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        background: lightgrey;
    }
}
